@font-face {
  font-family: 'Pretendard';
  src: url('/admin/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/admin/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  /* Medium */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/admin/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  /* SemiBold */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/admin/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
  font-display: swap;
}