:root {
  --background-01: #000;
  --background-02: #333;
  --background-03: #808080;
  --background-04: #999;
  --background-05: #DDD;
  --background-06: #EEE;
  --background-07: #F9F9F9;
  --background-08: #FFF;

  --main-01: #043F35;
  --main-02: #009178;
  --main-03: #CCE9E4;
  --main-04: #F5FBFA;

  --sub-01: #F24A4E;
  --sub-02: #8B74E7;
  --sub-03: #439FFA;

  --card-01: #E5F5F2;
}